# Assignment 2

# String Based Assignment Problem

In [5]:
#Write a program to reverse a string.
str= "God is great"
revstr= str[::-1]
print(revstr)

taerg si doG

In [7]:
#Check if a string is a palindrome.
str= "pop"
revstr= str[::-1]
if str==revstr:
    print("is palindrome")
else:
    print("is not palindrome")

is palindrome

In [8]:
#Convert a string to uppercase.
str =" god is great "
print(str.upper())

 GOD IS GREAT

In [9]:
#Convert a string to lowercase.
str =" GOD IS GREAT  "
print(str.lower())

 god is great

In [11]:
#Count the number of vowels in a string.
str =" GOD IS GREAT  "
vcount=0
lowstr=str.lower()
for v in lowstr :
    if v in "aeiou":
        vcount+=1
print("no. of vowels:", vcount)

no. of vowels: 4

In [12]:
#Count the number of consonants in a string.
str =" GOD IS GREAT  "
ccount=0
lowstr=str.lower()
for v in lowstr :
    if v in "bcdfghkjlmnpqrstvwxyz":
        ccount+=1
print("no. of consonants:", ccount)

no. of consonants: 6

In [15]:
#Remove all whitespaces from a string.
str="    god  is  great      "
print(str.strip().replace("  ",""))

godisgreat

In [16]:
#Find the length of a string without using the `len()` function.
str="god is great"
lc=0
for v in str:
    lc+=1
print("lenght of the string :", lc)

lenght of the string : 12

In [18]:
#Check if a string contains a specific word.
str="god is great"
if "is" in str:
    print("yes")
else:
        print("no")

yes

In [19]:
#Replace a word in a string with another word.
str="god is great"
print(str.replace("is","is obiously"))

god is obiously great

In [51]:
#Count the occurrences of a word in a string.
str="god is is is is great"
lstr=str.split()
ac=0
for v in lstr:
    if v == "is":
        ac+=1
print("occurence: ", ac)

occurence:  4

In [1]:
#Find the first occurrence of a word in a string.
l="god is great"
l[0]

'g'

In [3]:
#Find the last occurrence of a word in a string.
l="god is great"
l[-1]

't'

In [53]:
#Split a string into a list of words.
str= "god is great"
print(str.split())

['god', 'is', 'great']

In [54]:
#Join a list of words into a string.
str = "god is great "
str1= ",omnipresent, overpowering, all known"
print(str+str1)

god is great ,omnipresent, overpowering, all known

In [55]:
#Convert a string where words are separated by spaces to one where words are separated by underscores.
str= " god is great "
print(str.replace(" ","_"))

_god_is_great_

In [56]:
#Check if a string starts with a specific word or phrase.
str="god is great"
print (str.startswith("god"))

True

In [57]:
#Check if a string ends with a specific word or phrase.
str="god is great"
print(str.endswith("god"))

False

In [59]:
#Convert a string to title case
str="god is great"
print(str.upper())

GOD IS GREAT

In [24]:
#Find the longest word in a string.
str="god is great"
sstr=str.split()
maxw=max(sstr, key=len)
i=str.index(maxw)
print("longest:", maxw)
print("index:",i)

longest: great
index: 7

In [15]:
#Reverse the order of words in a string.
str2="god is great"
listr=str2.split()
rlistr=listr[::-1]
print(rlistr)

['great', 'is', 'god']

In [21]:
#Check if a string is alphanumeric.
l="abc"
l.isalnum()              #  isalnum - finds alphanumeric value

True

In [21]:
#Extract all digits from a string.
l="god132ly 234"
num=[]
for w in l or l.split():
    if w.isdigit():
        num.append(int(w))
print(num)

[1, 3, 2, 2, 3, 4]

In [6]:
#Extract all alphabets from a string.
l1="god1223554ily"
al=""
for w in l1:
    if w.isalpha():
        al+=w
print(al.replace(",",""))

godily

In [5]:
#Count the number of uppercase letters in a string.
str="God Is Great"
c=0
for v in str:
    if v in "ABCDEFGHIJKLMNOPQRRSTUVWXYZ":
        c+=1
print("no. of uppercase:",c)

no. of uppercase: 3

In [21]:
#Count the number of lowercase letters in a string.
str="God Is Great"
c=0
for v in str:
    if v in "abcdefghijklmnopqrrstuvwxyz":
        c+=1
print("no. of lowercase:",c)

no. of lowercase: 7

In [21]:
#Swap the case of each character in a string.
lu="God Is Great"
print(lu.swapcase())

gOD iS gREAT

In [30]:
#Remove a specific word from a string.
str="God Is Great"
print(str.replace("God",""))

 Is Great

In [14]:
# Check if a string is a valid email address.
import re  
def isvalidemail(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$' 
    if re.match(pattern, email):
        return True
    else:
        return False

emailq = "soji@gmail.com"
r = isvalidemail(emailq)
print(r)

True

In [11]:
# Extract the username from an email address string.
def sername(email):
    username = email.split('@')[0]
    return username

email = "soha@gmail.com"
result = sername(email)
print(result)

soha

In [12]:
# Extract the domain name from an email address string.
def postname(email):
    username = email.split('@')[1]
    return username

email = "soha@gmail.com"
result = postname(email)
print(result)

gmail.com

In [31]:
# Replace multiple spaces in a string with a single space.
syt="  god  is  great  "
print(syt.replace("  "," "))

 god is great

In [14]:
#Check if a string is a valid URL.
from urllib.parse import urlparse
def validurl(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc]) 
    except ValueError:
        return False

url = "https://www.gmail.com"
r = validurl(url)
print(r)

True

In [15]:
#Extract the protocol (http or https) from a URL string.
def exotocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
url = "https://www.gmail.com"
protocol = exotocol(url)
print("Protocol :", protocol)

Protocol : https

In [20]:
#Find the frequency of each character in a string.
from collections import Counter
text = "godisgreat."
chc = Counter(text)
print(chc,end='')
print()
lwe="godisgreat"
for i in lwe:
    f=lwe.count(i)
    print(str(i)+":"+str(f), end=",")
print()



lu="god is great"
di={}
for i in lu:
    if i in di:
        di[i]+=1
    else:
        di[i]=1
print(di)

Counter({'g': 2, 'o': 1, 'd': 1, 'i': 1, 's': 1, 'r': 1, 'e': 1, 'a': 1, 't': 1, '.': 1})
g:2,o:1,d:1,i:1,s:1,g:2,r:1,e:1,a:1,t:1,
{'g': 2, 'o': 1, 'd': 1, ' ': 2, 'i': 1, 's': 1, 'r': 1, 'e': 1, 'a': 1, 't': 1}

In [24]:
#Remove all punctuation from a string.
import string
text = "This string, with: punctuation? 'and' other! symbols."
# Remove punctuation from the string
text_without_punctuation = text.translate(str.maketrans('', '', string.punctuation))
print("String without punctuation:", text_without_punctuation)

String without punctuation: This string with punctuation and other symbols

In [39]:
#Check if a string contains only digits.
ly="121212212"
if ly.isnumeric():
    print("yes")
else:
    print("no")

yes

In [45]:
#Check if a string contains only alphabets.
ly2="god is great"
lyse=ly2.replace(" ","")
if lyse.isalpha():
    print("yes")
else:
    print("no")

yes

In [46]:
#Check if a string contains only alphabets.
ly2="god is great"
lyse=ly2.replace(" ","")
if lyse.isalpha():
    print("yes")
else:
    print("no")

yes

In [18]:
#Convert a string to a list of characters.
str="God is great"
print(list(str))

['G', 'o', 'd', ' ', 'i', 's', ' ', 'g', 'r', 'e', 'a', 't']

In [3]:
#Check if two strings are anagrams.
k='wer'
k2=[]
d='rew'
d2=[]
for i in k :
    k2.append(i)
for y in d:
    d2.append(y)
if(all(x in k2 for x in d2)):
    print('yes')
else:
    print('no')

yes

In [ ]:
#Encode a string using a Caesar cipher.

In [ ]:
#Decode a Caesar cipher encoded string.

In [13]:
#Find the most frequent word in a string.
from collections import Counter
sa='we we we rtrtrty we ry'
q=sa.split(' ')
wdw = Counter(q)
most_common_word, frequency = wdw.most_common(1)[0]

print("The most frequent word is:", most_common_word)
print("Frequency:", frequency)

The most frequent word is: we
Frequency: 4

In [10]:
#find unique words in string
sa='we we we rtrtrty we ry'
d=set(sa.split(' '))
d

{'rtrtrty', 'ry', 'we'}

In [13]:
#Count the number of syllables in a string.
cc=0
sa='we we we rtrtrty we ry'                
wq=set(sa)
for i in wq:
    cc+=1
cc

6

In [23]:
#Check if a string contains any special characters.
import re

text = "This string contains special characters like !,@,#,$,%"
pattern = re.compile(r'[@_!#$%^&*()<>?/\|}{~:]')
if pattern.search(text):
    print("String contains special characters.")
else:
    print("String does not contain special characters.")

String contains special characters.

In [5]:
#Remove the nth word from a string.
str="god is great"
str1=str3.split()
str2=list(str1)
str2.pop(-1)
print(str2)

['god', 'is']

In [1]:
#Insert a word at the nth position in a string.
str ="god is great"
print(str+" omnipresent")

god is great omnipresent

In [6]:
#Convert a CSV string to a list of lists.
cs = """Name,Age,Location
Alice,25,New York
Bob,30,Los Angeles
Carol,35,Chicago
"""
ge=[]
v=cs.split('\n')
for li in v:
        
    fi = li.split(',')

        
    ge.append(fi)

ge

[['Name', 'Age', 'Location'],
 ['Alice', '25', 'New York'],
 ['Bob', '30', 'Los Angeles'],
 ['Carol', '35', 'Chicago'],
 ['']]

# List Based Practice Problem :

In [38]:
#Create a list with integers from 1 to 10.
l=[1,2,3,4,5,6,7,8,9,10]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
#Find the length of a list without using the `len()` function.
l=[1,2,3,4,5,6,7,8,9,10]
c=0
for v in l:
    c+=1
print("length of the list: ", c)

length of the list:  10

In [52]:
#Append an element to the end of a list.
l=[1,2,3,4,5,6,7,8,9,10]
l.append(100)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [55]:
#Insert an element at a specific index in a list.
l=[1,2,3,4,5,6,7,8,9,10]
l.insert(3,33)            #insert( index [1st argument], value [2nd argument])
l

[1, 2, 3, 33, 4, 5, 6, 7, 8, 9, 10]

In [59]:
#Remove an element from a list by its value.
l=[1,2,3,4,5,6,7,8,9,10]
l.remove(3)               #remove() - eliminates elements from list
l

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [60]:
#Remove an element from a list by its index.
l=[1,2,3,4,5,6,7,8,9,10]
l.pop(3)                  #pop - eliminates from index of list
l

[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [63]:
#Check if an element exists in a list.
l=[1,2,3,4,5,6,7,8,9,10]
if 100 in l:
 print("yes")
else:
    print("No")

No

In [69]:
#Find the index of the first occurrence of an element in a list.
l=[1,2,3,4,5,6,7,8,9,10]
l.index(1)

0

In [70]:
#Count the occurrences of an element in a list.
l=[1,2,3,4,5,5,5,5,5,5,5,6,7,8,9,10]
l.count(5)

7

In [71]:
#Reverse the order of elements in a list.
l=[1,2,3,4,5,6,7,8,9,10]
print(l[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [77]:
#Sort a list in ascending order.
l=[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
l.sort()
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
#Sort a list in descending order.
l=[1,2,4,3,6,5,8,7,9,10]
l.sort()
print(l[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [113]:
#Create a list of even numbers from 1 to 20.
l=[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,20]
l2=[]
for v in l:
 if v%2==0:
    l2.append(v)
print(l2)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 20]

In [114]:
#Create a list of odd numbers from 1 to 20.
l=[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,20]
l2=[]
for v in l:
 if v%2!=0:
    l2.append(v)
print(l2)

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [99]:
#Find the sum of all elements in a list.
l=[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,20]
l1=0
for v in l:
    l1+=v
print("sum of list :", l1)

sum of list : 120

In [100]:
#Find the maximum value in a list.
l=[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,20]
print(max(l))

20

In [101]:
#Find the minimum value in a list.
l=[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,20]
print(min(l))

1

In [103]:
#Create a list of squares of numbers from 1 to 10.
l=[1,2,4,3,6,5,8,7,9,10]
for v in l:
 print(v*v , end=" ")

1 4 16 9 36 25 64 49 81 100

In [111]:
#Create a list of random numbers.
import random
rlist=[]
for i in range (5):
    n=random.randint(1,50)           # randint - helps generate random series of no.
    rlist.append(n)
print (rlist)

[11, 30, 25, 19, 9]

In [112]:
#Remove duplicates from a list.
l=[1,2,3,4,5,5,5,5,5,5,5,6,7,8,9,10]
l1=set(l)
l2=list(l1)
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
#Find the common elements between two lists.
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2=[11, 30, 25, 19, 9]
lw1=set(l1)
lw2=set(l2)
if lw1 & lw2:
    print(lw1 & lw2)
else:
    print("none")

{9}

In [4]:
#Find the difference between two lists.
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2=[11, 30, 25, 19, 9]
q=[]
for i in l1:
    if i not in l2:
        q.append(i)
print(q)

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [38]:
#Merge two lists.
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2=[11, 30, 25, 19, 9]
l1= l1 + l2
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 30, 25, 19, 9]

In [118]:
#Multiply all elements in a list by 2.
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2=[]
for r in l1:
    v=r*2
    l2.append(v)
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [119]:
#Filter out all even numbers from a list.
l=[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,20]
l2=[]
for v in l:
 if v%2==0:
    l2.append(v)
print(l2)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 20]

In [13]:
#Convert a list of strings to a list of integers.
l1212="56,456,234"
list(l1212)

['5', '6', ',', '4', '5', '6', ',', '2', '3', '4']

In [15]:
#Convert a list of integers to a list of strings.
il=[1,2,34,5,6]
str(il)
type(str(il))

str

In [5]:
#Flatten a nested list.
wt=[3,4,5,5]
wq=[1,2,3]
q=wt+wq
q

[3, 4, 5, 5, 1, 2, 3]

In [4]:
#Create a list of the first 10 Fibonacci numbers.
q=[0,1]
a=0
b=1
for i in range(2,10):
    c=a+b
    a=b
    b=c
    q.append(c)
print(q)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [128]:
#Check if a list is sorted.
l=[11, 30, 25, 19, 9]
l1=l.sort()
if l1==l:
    print("yes")
else:
    print("no")

no

In [10]:
#Rotate a list to the left by `n` positions.
o=[1,2,3,4,5]
o[:2]+o[2:]

[1, 2, 3, 4, 5]

In [11]:
#Rotate a list to the right by `n` positions.
o=[1,2,3,4,5]
o[2:]+o[:2]

[3, 4, 5, 1, 2]

In [4]:
#Create a list of prime numbers up to 50.
l1=[1,2,3]
for v in range (4,51):      # iterates value from 4 to 50 
    for u in range(2,v):      # finds the multipl 
        if (v%u==0):
           break
    else:
         l1.append(v)
print(l1)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [22]:
#Split a list into chunks of size `n`
l=[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
q=str(l)
print(list(q.split()),end=' ')

['[1,', '2,', '3,', '5,', '7,', '11,', '13,', '17,', '19,', '23,', '29,', '31,', '37,', '41,', '43,', '47]']

In [148]:
#Find the second largest number in a list.
l=[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
v=max(l)
l.remove(v)
print(max(l))

43

In [150]:
#Replace every element in a list with its square.
l=[1,2,4,3,6,5,8,7,9,10]
we=[]
for v in l:
    n=v*v
    we.append(n)
print(we)

[1, 4, 16, 9, 36, 25, 64, 49, 81, 100]

In [22]:
#Convert a list to a dictionary where list elements become keys and their indices become values.
l=["h","r","b"]
l4=[0,1,2]
print(dict(zip(l,l4)))   # zip() - function to efficiently perform parallel iteration over multiple iterables.


ls=["h","r","t"]
print(dict(enumerate(ls)))         #enumerate() - will automatically keep track of the order in which items are accessed, which gives us the index value without the need to maintain a separate index variable.

{'h': 0, 'r': 1, 'b': 2}
{0: 'h', 1: 'r', 2: 't'}

In [29]:
#Shuffle the elements of a list randomly.
import random

lo=[1,2,3,4,5]
random.shuffle(lo)
lo

[2, 4, 1, 3, 5]

In [9]:
#Create a list of the first 10 factorial numbers.

lew=[1,2]
for i in range(3,11):
     fac=1
     for y in range(1,i+1):                
            fac=fac*y
     lew.append(fac)
print(lew)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [24]:
#Check if two lists have at least one element in common.
lo = [1,2,3,4]
ro=[1]
if(all(x in lo for x in ro)):
        print("yes")
else:
    print("no")

yes

In [34]:
#Remove all elements from a list.
k= ['god', 'is', 'great']
k.clear()
k

[]

In [6]:
#Replace negative numbers in a list with 0.
k=[-1,-2,3,4,-6]
l=[]
for i in k:
    if i>0 :
        l.append(i)
print(l)

[3, 4]

In [38]:
#Convert a string into a list of words.
lq="god is great"
lq.split()

['god', 'is', 'great']

In [20]:
#Convert a list of words into a string.
lq=['god', 'is', 'great']
str(lq)

"['god', 'is', 'great']"

In [22]:
#Create a list of the first `n` powers of 2.
lto=[]
for i in range(6):
    p=2**i
    lto.append(p)
print(lto)

[1, 2, 4, 8, 16, 32]

In [25]:
#Find the longest string in a list of strings.
lu = ["we","reew","bee"]
print(max(lu, key=len))

reew

In [26]:
#Find the shortest string in a list of strings.
lu = ["we","reew","bee"]
print(min(lu, key=len))

we

In [2]:
#Create a list of the first `n` triangular numbers.
r=[]
n=int(input("enter no.: "))
for i in range(1,n+1):
    tn=(i*(i+1))//2
    r.append(tn)
print(r)

enter no.: 7
[1, 3, 6, 10, 15, 21, 28]

In [33]:
#Check if a list contains another list as a subsequence.
lu = ["we","reew","bee"]
wu = ["fe"]
if(all( x in lu for x in wu)):    # all(x in obj1 for x in obj2) - Checks for all the elements of one list for existence in other lists.
    print("yess")
else:
    print("no")

no

In [47]:
#Swap two elements in a list by their indices.
q=[1,2,3,4]
r = q[2:] + q[:2]
r

[3, 4, 1, 2]

# TUPLES based practice problems

In [9]:
#1. Create a tuple with integers from 1 to 5.
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [10]:
#2. Access the third element of a tuple.
t=(1,2,3,4,5)
print(t[2])

3

In [11]:
#3. Find the length of a tuple without using the `len()` function.
t=(1,2,3,4,5)
v=0
for i in t:
    v+=1
print(v)

5

In [18]:
#4. Count the occurrences of an element in a tuple.
t=(1,2,3,4,4,4,4,5)
t.count(4)

4

In [20]:
#5. Find the index of the first occurrence of an element in a tuple.
t=(1,2,3,4,5)
print(t[0])

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [24]:
#6. Check if an element exists in a tuple.
t=(1,2,3,4,5)
v=7
if v in t :
    print("yes")
else:
    print("no")

no

In [25]:
#7. Convert a tuple to a list.
t=(1,2,3,4,5)
o=list(t)
o

[1, 2, 3, 4, 5]

In [26]:
#8. Convert a list to a tuple.
y = [1, 2, 3, 4, 5]
i= tuple(y)
i

(1, 2, 3, 4, 5)

In [17]:
#9. Unpack the elements of a tuple into variables.
y = (1, 2, 3, 4, 5)
x,y,r,w,q = y
print("x",x)
print("y",y)
print("r",r)
print("w",w)
print("q",q)

x 1
y 2
r 3
w 4
q 5

In [12]:
#10. Create a tuple of even numbers from 1 to 10.
w=[]
for i in range(11):
    if i%2==0:
        w.append(i)
print(tuple(w))

(0, 2, 4, 6, 8, 10)

In [13]:
#11. Create a tuple of odd numbers from 1 to 10.
rer=[]
for i in range(11):
    if i%2!=0:
        rer.append(i)
print(tuple(rer))

(1, 3, 5, 7, 9)

In [2]:
#12. Concatenate two tuples.
yu = (1,2,3,4,5)
de = (0,3,4,5)
print(yu + de)

(1, 2, 3, 4, 5, 0, 3, 4, 5)

In [4]:
#13. Repeat a tuple three times.
yu = (1,2,3,4,5)
for i in range(3):
    print(yu)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [5]:
#14. Check if a tuple is empty.
yy=()
len(yy)

0

In [20]:
#15. Create a nested tuple.
e=((1,2,4,5),)
ew= (34,)
print(e+ew)

((1, 2, 4, 5), 34)

In [23]:
#16. Access the first element of a nested tuple.
q=((1, 2, 4, 5), 34)
q[0][1]

2

In [26]:
#17. Create a tuple with a single element.
t=(1,)
t

(1,)

In [45]:
#Compare two tuples.
q=(12,34,65,9)
e = (1,2,3,4)
if q==e:
    print('yes')
else:
    print('no')
if q<e:
    print('yes')
else:
    print('no')
if q>e:
    print('yes')
else:
    print('no')
if q<=e:
    print('yes')
else:
    print('no')

no
no
yes
no

In [31]:
#Delete a tuple'
t=(1,)
del(t)
t

NameError: name 't' is not defined

In [32]:
#Slice a tuple.
ee = (1,2,3,4)
print(ee[0:2])

(1, 2)

In [33]:
#Find the maximum value in a tuple.
ee = (1,2,3,4)
print(max(ee))

4

In [34]:
#Find the minimum value in a tuple.
ee = (1,2,3,4)
print(min(ee))

1

In [36]:
#23. Convert a string to a tuple of characters.
wu="wewewweweweewewewe"
r=tuple(wu)
print(r,end=" ")

('w', 'e', 'w', 'e', 'w', 'w', 'e', 'w', 'e', 'w', 'e', 'e', 'w', 'e', 'w', 'e', 'w', 'e')

In [8]:
#Convert a tuple of characters to a string.
q=('w', 'e', 'w', 'e', 'w', 'w', 'e', 'w', 'e', 'w', 'e', 'e', 'w', 'e', 'w', 'e', 'w', 'e')
e=str(q)
e

"('w', 'e', 'w', 'e', 'w', 'w', 'e', 'w', 'e', 'w', 'e', 'e', 'w', 'e', 'w', 'e', 'w', 'e')"

In [11]:
#Create a tuple from multiple data types.
h=("e",23,2.3)
print(h)

('e', 23, 2.3)

In [15]:
#Check if two tuples are identical.
we=('e', 23, 2.3)
sw=('e', 23, 2.3)
if(all(x in we for x in sw)):
    print("yes")
else:
    print("no")

yes

In [4]:
#Sort the elements of a tuple.
qw=(1,3,24,567,2,4,57)
we=list(qw)
we.sort()
qw = tuple(we)
qw

(1, 2, 3, 4, 24, 57, 567)

In [3]:
#Convert a tuple of integers to a tuple of strings.
u=(1,2,3,4)
w=tuple((str(i) for i in u))
w

('1', '2', '3', '4')

In [5]:
#Convert a tuple of strings to a tuple of integers.
w=('1', '2', '3', '4')
q=tuple((int(i) for i in w))
q

(1, 2, 3, 4)

In [6]:
#Merge two tuples.
q=(1, 2, 3, 4)
w=('1', '2', '3', '4')
print(q + w)

(1, 2, 3, 4, '1', '2', '3', '4')

In [21]:
#Flatten a nested tuple.
w=(12,23)
r=(45,56)
q=w+r
q

(12, 23, 45, 56)

In [13]:
#Create a tuple of the first 5 prime numbers.
w=[1,2,3]
for i in range(4,9):
    for v in range(2,i):
        if i%v==0:
            break
    else:
        w.append(i)
print(tuple(w))

(1, 2, 3, 5, 7)

In [5]:
#Check if a tuple is a palindrome.
t=(1, 2, 3, 9, 1)
if t==t[::-1]:
    print('yes')
else:
    print('no')
t[::-1]

no

(1, 9, 3, 2, 1)

In [1]:
#Create a tuple of squares of numbers from 1 to 5.
t=()
for i in range(1,6):
    t=(i**2,) + t
print(t)

(25, 16, 9, 4, 1)

In [3]:
#Filter out all even numbers from a tuple.
o=(1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,20)
p=()
for i in o:
    if i%2==0:
        p+=(i,)
print(p)

(2, 4, 6, 8, 10, 2, 4, 6, 8, 20)

In [4]:
#Multiply all elements in a tuple by 2.
w=(1,2,3,4,5,6,7,8,9,10)
q=()
for i in w:
    q+=(i*2,)
print(q)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [5]:
#Create a tuple of random numbers.
import random
q=()
for i in range(5):
    u=random.randint(1,30)
    q+=(u,)
print(q)

(2, 25, 13, 1, 21)

In [9]:
#Check if a tuple is sorted.
q=(2, 25, 13, 1, 21)
w=list(q)
e=w.sort()
if e==w:
    print('yes')
else:
    print('no')

no

In [18]:
#Rotate a tuple to the left by `n` positions.
o=(1,2,3,4,5)
o[2:]+o[:2]
o

(1, 2, 3, 4, 5)

In [19]:
#Rotate a tuple to the right by `n` positions.
o=(1,2,3,4,5)
o[:2]+o[2:]
o

(1, 2, 3, 4, 5)

In [39]:
#Create a tuple of the first 5 Fibonacci numbers.
s=(0,1)
a=0
b=1
for i in range(2,6):
    c=a+b
    a=b
    b=c
    s+=(c,)
print(s)

(0, 1, 1, 2, 3, 5)

In [15]:
#Create a tuple from user input.
x=tuple(input("enter no:"))
x

enter no:1234567890

('1', '2', '3', '4', '5', '6', '7', '8', '9', '0')

In [21]:
#Swap two elements in a tuple.
d=(2, 25, 13, 1, 21)
w=list(d)
w[0],w[1]=w[2],w[3]
w[2],w[3]=w[0],w[1]
tuple(w)

(13, 1, 13, 1, 21)

In [22]:
#Reverse the elements of a tuple.
d=(2, 25, 13, 1, 21)
d[::-1]

(21, 1, 13, 25, 2)

In [24]:
#Create a tuple of the first `n` powers of 2.
w=()
for i in range(1,6):
    w+=(2**i,)
    
print(w)

(2, 4, 8, 16, 32)

In [25]:
#Find the longest string in a tuple of strings.
q=("wee","errw","derere")
w=max(q,key=len)
w

'derere'

In [29]:
#Find the shortest string in a tuple of strings.
q=("aee","wee","errw","derere")
w=min(q,key=len)
w

'we'

In [8]:
#Create a tuple of the first `n` triangular numbers.
w=()
n=int(input("enter no. :"))
for i in range(1,n+1):
    tn=(i*(i+1))//2
    w+=(tn,)
print(w)

enter no. :6
(1, 3, 6, 10, 15, 21)

In [34]:
#Check if a tuple contains another tuple as a subsequence.
q=("aee","wee","errw","derere")
w=("wee","errw","derere")
if(all(x in q for x in w)):
    print('yes')
else:
    print('no')

yes

In [5]:
#Create a tuple of alternating 1s and 0s of length `n`.
w={1,2,3,4,5,6,7}
r=()
for i in w:
    if i%2==0:
        r+=(0,)
    if i%2!=0:
        r+=(1,)
print(r)

(1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem :

In [3]:
#1. Create a set with integers from 1 to 5.
w={1,2,3,4}
w

{1, 2, 3, 4}

In [4]:
#Add an element to a set.
w={1,2,3,4}
w.add(7)
w

{1, 2, 3, 4, 7}

In [33]:
#3. Remove an element from a set.
w={1,2,3,4}
w.remove(4)
w

{1, 2, 3}

In [13]:
#Check if an element exists in a set.
w={1,2,3,4}
if 8 in w:
    print('yes')
else:
    print('no')

no

In [14]:
#Find the length of a set without using the `len()` function.
w={1,2,3,4}
e=0
for i in w:
    e+=1
print(e)

4

In [34]:
#Clear all elements from a set.
w={1,2,3,4}
w.clear()
w

set()

In [35]:
#Create a set of even numbers from 1 to 10.
a={0}
for i in range(1,11):
    if i%2==0:
        a.add(i)
print(a)

{0, 2, 4, 6, 8, 10}

In [36]:
#Create a set of odd numbers from 1 to 10.
s={1}
for i in range(2,11):
    if i%2!=0:
        s.add(i)
print(s)

{1, 3, 5, 7, 9}

In [39]:
#Find the union of two sets.
def unioni(a,s):
    w= a.union(s)
    return w

q={0, 2, 4, 6, 8, 10}
a={1, 3, 5, 7, 9}
unioni(q,a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
#Find the intersection of two sets.
def inunioni(a,s):
    w= a.intersection(s)
    return w

q={0, 2, 4, 6, 8, 10}
a={0 ,1, 3, 5, 7, 9}
inunioni(q,a)

{0}

In [47]:
#Find the difference between two sets.
def diff(w,i):
    s= i.difference(w)            # difference - find the difference btw two sets
    return s

q={0, 2, 4, 6, 8, 10}
a={0 ,1, 3, 5, 7, 9}
diff(q,a)

{1, 3, 5, 7, 9}

In [50]:
#12. Check if a set is a subset of another set.
def suv(i,o):
    w= (x.issubset(y))          # issubset() - finds subset
    return w
x={1,2,3,4,5,6,7,8,9}
y={1,2,3,4,5}
suv(x,y)

False

In [51]:
#Check if a set is a superset of another set.
def ssuv(i,o):
    w= (x.issuperset(y))          # issuperset() - finds superset
    return w
x={1,2,3,4,5,6,7,8,9}
y={1,2,3,4,5}
ssuv(x,y)

True

In [52]:
#Create a set from a list.
y=(1,2,3,4,5)
set(y)

{1, 2, 3, 4, 5}

In [53]:
#Convert a set to a list.
y={1,2,3,4,5}
list(y)

[1, 2, 3, 4, 5]

In [104]:
#Remove a random element from a set.

y={1,2,3,4,5}
q=y.pop()
q

1

In [107]:
#17. Pop an element from a set.
y={1,2,3,4,5}
q=y.pop()
q

1

In [3]:
#18. Check if two sets have no elements in common.
def disj(y,u):
    q=y.isdisjoint(u)         # disjoint()- Check if two sets have no elements in common
    return q

t={2,4,5,6}
w={1,3,7}
disj(q,w)

True

In [10]:
#19. Find the symmetric difference between two sets.
def sd(t,y):
    w=t.symmetric_difference(y)
    return w
t={2,4,5,6}
w={1,3,7}
sd(t,w)

{1, 2, 3, 4, 5, 6, 7}

In [1]:
#20. Update a set with elements from another set.
q={2,4,5,6}
qw={1,3,7}
q.update(qw)
print(q)

{1, 2, 3, 4, 5, 6, 7}

In [26]:
#21. Create a set of the first 5 prime numbers.
w = {1, 2}
for i in range(3, 10):
    
    for divisor in range(2, i):
        if i % divisor == 0:
            
            break
    else:
        w.add(i)

print(w)

{1, 2, 3, 5, 7}

In [4]:
#22. Check if two sets are identical.
w={1, 2, 3, 4, 5, 6, 7}
q={1, 2, 3, 5, 7}
if(all(x in w for x in q)):
    print('yes')
else:
    print('no')

yes

In [5]:
#23. Create a frozen set.
q={1, 2, 3, 5, 7}
frozenset(q)

frozenset({1, 2, 3, 5, 7})

In [6]:
#24. Check if a set is disjoint with another set.
def disj(y,u):
    q=y.isdisjoint(u)        
    return q

t={2,4,5,6}
w={1,3,7}
disj(q,w)

False

In [8]:
#Create a set of squares of numbers from 1 to 5.
q={0}
for i in range(1,6):
    q.add(i**2)
print(q)

{0, 1, 4, 9, 16, 25}

In [17]:
#Filter out all even numbers from a set.
w={1, 2, 3, 4, 5, 6, 7}
a=set()
for i in w:
    if i%2==0:
        a.add(i)
a

{2, 4, 6}

In [2]:
#Multiply all elements in a set by 2.
w={1, 2, 3, 4, 5, 6, 7}
q={0}
for i in w:
    q.add(i*2)
print(q)

{0, 2, 4, 6, 8, 10, 12, 14}

In [15]:
#Create a set of random numbers.
import random
q=set()
for i in range(5):
        q.add(random.randint(1,78))
print(q)

{1, 44, 19, 24, 58}

In [16]:
#Check if a set is empty.
q=set()
if len(q)==0:
    print('yes')
else:
    print('no')

yes

In [9]:
#Create a nested set (hint: use frozenset).
q={0, 2, 4, 6, 8, 10, 12, 14}
e={12,34,56}
q=frozenset(q)
e=frozenset(e)
w={q,e}
w

{frozenset({0, 2, 4, 6, 8, 10, 12, 14}), frozenset({12, 34, 56})}

In [10]:
#31. Remove an element from a set using the discard method.
q={0, 2, 4, 6, 8, 10, 12, 14}
q.discard(6)
q

{0, 2, 4, 8, 10, 12, 14}

In [11]:
#Compare two sets.
q={12,34,65,9}
e = {1,2,3,4}
if q==e:
    print('yes')
else:
    print('no')
if q<e:
    print('yes')
else:
    print('no')
if q>e:
    print('yes')
else:
    print('no')
if q<=e:
    print('yes')
else:
    print('no')

no
no
no
no

In [18]:
#Create a set from a string.
w=set('2,3,4,5')
w

{',', '2', '3', '4', '5'}

In [21]:
#Convert a set of strings to a set of integers.
w={'234','45','67'}
q=set()
for i in w:
    y=int(i)
    q.add(y)
print(q)

{234, 67, 45}

In [22]:
#Convert a set of integers to a set of strings.
q={234, 67, 45}
w=set()
for i in q:
    s=str(i)
    w.add(s)
print(w)

{'234', '67', '45'}

In [24]:
#Create a set from a tuple.
r=(234, 67, 45)
w=set(r)
w

{45, 67, 234}

In [27]:
#Convert a set to a tuple.
w={45, 67, 234}
q=tuple(w)
q

(234, 67, 45)

In [29]:
#Find the maximum value in a set.
w={45, 67, 234}
e=max(w)
e

234

In [30]:
#Find the minimum value in a set.
w={45, 67, 234}
e=min(w)
e

45

In [2]:
##Create a set from user input.
w= set(input('enter no.: ').split())
w

enter no.: 12 34 45

{'12', '34', '45'}

In [6]:
#Check if the intersection of two sets is empty.
p={1,2,3,4}
y={3,4,5,6}
if p.intersection(y)== 0:
    print('yes empty')
else:
    print('not empty')

not empty

In [8]:
#Create a set of the first 5 Fibonacci numbers.
q=set()
a=0
b=1
for i in range(6):
    c=a+b
    a=b
    b=c
    q.add(c)
q

{1, 2, 3, 5, 8, 13}

In [10]:
#Remove duplicates from a list using sets.
w=[1,1,1,2,2,2,2,3,3,3,4,4,4]
w=set(w)
w

{1, 2, 3, 4}

In [12]:
#Check if two sets have the same elements, regardless of their count.
w={1,1,1,2,2,2,2,3,3,3,4,4,4}
q={1, 2, 3, 4}
if(all(x in w for x in q)):
    print('yes')
else:
    print('no')

no

In [13]:
#Create a set of the first `n` powers of 2.
q=set()
for i in range (5):
    q.add(2**i)
q

{1, 2, 4, 8, 16}

In [16]:
#Find the common elements between a set and a list.
p={1,2,3,4}
y=[3,4,5,6]
if p.intersection(set(y)):
    print('yes')
else:
    print('no')

yes

In [17]:
#Create a set of the first `n` triangular numbers.
q=set()
n=int(input("enter no. :"))
for i in range(1,n+1):
    tn=(i*(i+1))//2
    q.add(tn)
q

enter no. :5

{1, 3, 6, 10, 15}

In [19]:
#Check if a set contains another set as a subset.
c={1,2,3,4,5}
b={2,4,5}
b.issubset(c)

True

In [4]:
#Create a set of alternating 1s and 0s of length `n`.
w={1,2,3,4,5,6,7}
r=set()
for i in w:
    if i%2==0:
        r.add(0)
    if i%2!=0:
        r.add(1)
print(r)

{0, 1}

In [21]:
#Merge multiple sets into one.
c={1,2,3,4,5}
b={21,24,56}
v={45,50}
a=c.union(b)
l=v.union(a)
l

{1, 2, 3, 4, 5, 21, 24, 45, 50, 56}